@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import 'tailwindcss';

/* :root { */
/* } */

@theme inline {
  --color-prim: #fefae0;
  --color-sec: #d4a373;
  --color-tert: #faedcd;
  --color-sec-accent: #ccd5ae;
  --color-tert-accent: #e9edc9;

  --font-base: 'Rubik Spray Paint', sans-serif;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */
